{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1 class="text-center">ToDo List</h1><br>

            <div class="sticky-top" style="top: 1em;" id="message-container">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-primary alert-dismissible fade show col-md-8 offset-md-2 mt-3" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <br><br>

            {% if tasks %}
            {% for task in tasks %}
                {% if task.is_overdue %}
                <div class="alert alert-danger" role="alert">
                    {{ task.title }} | added at: {{ task.added_at }} | due: {{ task.deadline }}
                </div>
                {% else %}
                <div class="alert alert-primary" role="alert">
                    {{ task.title }} | added at: {{ task.added_at }} | due: {{ task.deadline }}
                </div>
                {% endif %}
            {% endfor %}
            {% endif %}
        </div>
        
        <div class="col-4"><br><br><br><br><br>
            <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#taskModal">
                New Task +
            </button>
        </div>
    </div>
</div>

{% include 'add_task_modal.html' %}

{% endblock %}