{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1 class="text-center">ToDo List</h1><br>

            <div class="sticky-top" style="top: 1em;" id="message-container">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-primary alert-dismissible fade show col-md-8 offset-md-2 mt-3" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <br><br>

            {% if tasks %}
            {% for task in tasks %}
                <div class="alert {% if task.is_overdue %} alert-danger {% elif task.is_completed %} alert-success {% else %} alert-primary {% endif %} d-flex justify-content-between align-items-center" role="alert">
                    <span {% if task.is_completed %} style="text-decoration: line-through;" {% endif %}>
                        {{ task }}
                    </span>
                    <form action="{% url 'check_task' task.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" style="border: none; background: none; padding: 0;">
                            <i class="bi {% if task.is_completed %} bi-check-square-fill {% else %} bi-square {% endif %}"></i>
                        </button>
                        <span class="dropstart">
                            <i class="bi bi-three-dots-vertical" type="button" data-bs-toggle="dropdown"></i>
                            <ul class="dropdown-menu mt-4">
                                <li><a 
                                        hx-get="{% url 'edit_task' task.id %}"
                                        hx-target="#editModal"
                                        hx-trigger="click"
                                        data-bs-toggle="modal"
                                        data-bs-target="#editModal"
                                        class="dropdown-item text-center">Edit <i class="bi bi-pencil-fill"></i>
                                    </a>
                                </li>
                                <li><a class="dropdown-item text-center"
                                        hx-on:click="
                                        document.querySelector('#delete-modal-body').innerText = '{{task.title}}';
                                        const deleteForm = document.getElementById('deleteForm');
                                        deleteForm.action = '{% url 'delete_task' task.id %}';
                                        "
                                        data-bs-toggle="modal"
                                        data-bs-target="#deleteModal"
                                        data-task-id="{{ task.id }}">Delete <i class="bi bi-trash-fill"></i>
                                    </a>
                                </li>
                            </ul>        
                        </span>
                    </form>                    
                </div>
            {% endfor %}
            {% endif %}
        </div>
        
        <div class="col-4"><br><br><br><br><br>
            <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#taskModal">
                New Task +
            </button>
        </div>
    </div>
</div>

{% include 'add_task_modal.html' %}

<!-- Task delete modal -->
<div
    id="deleteModal"
    class="modal fade"
    aria-hidden="true"
    tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete task ?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="delete-modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <form action="" method="post" id="deleteForm">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
</div>

<!-- Task edit modal -->
<div
    id="editModal"
    class="modal fade"
    aria-hidden="true"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"></div>
    </div>
</div>

{% endblock %}
